In [11]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

***1. Read the dataset to python environment***

In [12]:
data=pd.read_excel('/content/drive/MyDrive/iris (1).xls')

In [13]:
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [14]:
data.shape

(150, 5)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

***2. Do the necessary pre-processing steps***

***Preprocessing***

In [19]:
data.isnull().sum()

SL                7
SW                6
PL                6
PW                0
Classification    0
dtype: int64

In [30]:
for col in ['SL', 'SW', 'PL']:
    data[col] = data[col].fillna(data[col].median())

In [31]:
data.isnull().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64

**Logical regression**

In [40]:
x=data.drop('Classification',axis=1)
y=data['Classification']

In [41]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [42]:
from sklearn.linear_model import LogisticRegression

lr=LogisticRegression()
lr_model=lr.fit(x_train,y_train)
y_pred=lr_model.predict(x_test)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [43]:
from sklearn.metrics import accuracy_score

print(' The accuracy of logistic regression is:',accuracy_score(y_test,y_pred))

 The accuracy of logistic regression is: 0.9777777777777777

***SVM***

In [44]:
from sklearn.svm import SVC

svm_clf=SVC(kernel='linear')
svm_clf=svm_clf.fit(x_train,y_train)
y_pred_svm=svm_clf.predict(x_test)
print(' The accuracy of SVM is:',accuracy_score(y_test,y_pred_svm))

 The accuracy of SVM is: 1.0

In [45]:
svm_clf=SVC(kernel='rbf')
svm_clf=svm_clf.fit(x_train,y_train)
y_pred_svm=svm_clf.predict(x_test)
print(' The accuracy of SVM is:',accuracy_score(y_test,y_pred_svm))

 The accuracy of SVM is: 0.9777777777777777

**Random forest**

In [46]:
from sklearn.ensemble import RandomForestClassifier

rf_clf=RandomForestClassifier()
rf_clf=rf_clf.fit(x_train,y_train)
y_pred_rf=rf_clf.predict(x_test)
print(' The accuracy of Random forest is:',accuracy_score(y_test,y_pred_rf))

 The accuracy of Random forest is: 1.0